{% extends 'header.html' %} 
{% block title %} Register | {{ company }} {%endblock %} 

{% block contents %}

<!--Register-->
<div class="outter-container">
  <div class="holding-container">
    <div class="auth-container">
      <div class="registration">
        <h1 class="text-center">Register</h1>
        {{ form.errors}}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.username }} 
            {{ form.email }}
            {{ form.country }}
            {{ form.phone}}
            {{ form.dob }}
            {{ form.password1 }}
            {{ form.password2 }}
          </div>
          <button
            class="btn buttons btn-primary"
            style="margin-left: 10px"
            type="submit"
          >
            Register
          </button>
        </form>
        <p class="text-center">
          Have an account already? <a href="{% url 'user_login' %}">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock contents %}
