{% load static %}
<!--header-->
    <nav class="nav-strip sticky-top">
        <div class="navbar navbar-expand-lg bg-dark shadow">
            <a class="navbar-brand" href="#" style="color: white;">
                <img class="header-images" src="{% static 'images/user.svg' %}" alt="">
                {{ auth_user }}
            </a>

            <button type="button" class="sapa-price-btn btn btn-dark">
                <img class="ticker-image" src="{% static 'images/ticker.svg' %}">
                <span class="ticker-text">$0.55</span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'stake' %}">Stake</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'p2p' %}">P2P</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'epos' %}">EPOS</a></li>
                </ul>
                <button class="wallet-connect btn btn-primary">
                    <a class="nav-link" href="#">
                        Connect Wallet
                    </a>
                </button>
            </div>
        </div>
    </nav>