body {
    margin-bottom: 50px;
    background-color: #383838;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-image: radial-gradient(#354259, #112B3C);
}

.top_body {
    padding-top: 50px;
}

.equity_balance_container {
  background-color: #EC994B;
  color: black;
  padding: 15px 25px;
  height: 100px;
  border-radius: 25px;
  box-shadow: 0px 4px 19px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 19px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 19px -3px rgba(0,0,0,0.75);
  margin-bottom: 25px;
}

.top_ {
  background-color: #383838;
}

#buy,
#buy_p2p {
  background-color: green;
}

#sell,
#sell_p2p {
  background-color: red;
}

#buy:active,
#sell:active {
  border: solid #fff;
}

.p2p_buttons {
  margin: 2px;
}

.buy_sell {
  padding: 5px 7% 5px 7%;
  box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}


.p2p_categories {
  color: #fff;
  margin-top: 7px;
  display: contents;
  text-align: center;
  float: right;
}

.equity_title {
  margin-top: auto;
}

.btc_equity_value {
  float: right;
}

.btc_equity_text {
  float: right;
  font-size: 15px;
}

.category_strip {
  background-color: #383838;
  border-style: double;
  padding: 7px;
}

.p2p-nav-container {
  float: right;
}

.p2p-dropdown {
  display: flex;
  float: right;
  color: #fff;
  margin-top: 4px;
}

.payment_method {
  float: right;
  color: #fff;
  margin-top: 4px;
}


.filter_strip {
  background-color: #383838;
  margin-top: 10px;
  padding: 5px 7% 5px 7%;
}

.filter_amount {
  margin-left: 15px;
}

.p2p_filter {
  display: initial;
}

.payment_method {
  float: right;
}


.header-images {
  width: 40px;
  height: 30px;
  margin: 10px 10px;
}

.navbar_strip {
    padding: 0 7% 0 7%;
    box-shadow: -1px 39px 37px 10px rgba(0,0,0,0.75);
}

.nav-strip {
    z-index: 100;
    box-shadow: -1px -1px 50px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 50px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 50px -8px rgba(0,0,0,0.75);
}

.nav-link {
 color: #fff;
}

.sapa-price-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  width: auto;
  height: 60px;
  padding-inline: 15px;
}

.ticker-image {
    display: flex;
    margin-right: 6px;
    display: block;
    box-sizing: border-box;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    height: 60px;
    margin-bottom: 15px;
}

/*
.carousel {
    margin: 10px 20px;;
}*/

.wallet-connect {
    margin-left: 20px;
}


.features {
    text-align: center;
    justify-content: center;
    margin-left: 50px;

}

hr {
    margin: 30px 50px;
    color: #fff;
    border-top: 5px dotted;
    border: dotted;
    border-style: inset;
}

.token_meta {
    margin-top: 20px;
    text-align: center;
    margin-right: 70px;
    padding-top: 20px;
    background-color: #EC994B;
    height: fit-content;
    width: 400px;
    border-radius: 10px;
    box-shadow: -4px 5px 28px -8px rgba(236,153,75,0.75);
    -webkit-box-shadow: -4px 5px 28px -8px rgba(236,153,75,0.75);
    -moz-box-shadow: -4px 5px 28px -8px rgba(236,153,75,0.75);
}

.token_meta_title {
    font-family: 'Poppins', sans-serif;
}

.token_meta_text {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

/* css for table */
.crypto-meta {
    border-radius: 5px;
    margin-top: 25px;
    padding-top: 25px;
    box-shadow: -2px 4px 49px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 4px 49px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 49px 10px rgba(0,0,0,0.75);
}
/* Style the tab */
.table-nav {
    margin-left: 25px;
}

.table-btn {
    margin-right: 15px;
    margin-bottom: 25px;
}

.ranking {
    padding: 0 5% 1% 5%;
}

.table-links {
    background-color: inherit;
    font-family: 'Inconsolata', monospace;
    border: none;
    font-size: 18px;
    color: #fff;

}

/* css for bottom nav */

.bottom-nav-container {
	text-align: center;
	align-items: center;
  box-shadow: 0px -7px 51px 12px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px -7px 51px 12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -7px 51px 12px rgba(0,0,0,0.75);
  z-index: 1;
}

.bottom-nav-images {
		height: 30px;
		width: 30px;
}

.nav-active {
		border: 3px solid;
		background-color: #354259;
		border-radius: 10px;
}

.bottom-nav-text {
		color: #fff;
}

/* css for table */

@media (max-width: 1366px) {
    .sapa-price {
        margin-left: 10%;
    }
}

@media (max-width: 1100px) {
    #footer {
        visibility: hidden;
    }
}

@media (max-width: 250px) {
    .sapa-price-btn {
        visibility: hidden;
    }

    .navbar {
      height: 60px;
    }
}

@media (min-width: 1366px) {
    .features {
      height: fit-content;
      margin-right: 50px;
      margin-left: 100px;
    }
    .container-fluid {
        padding: 0 7% 0 7%;
    }
    .crypto-meta {
        margin: 0 15% 0 15%;
    }
}

@media (min-width: 992px) {
  .p2p-dropdown {
    visibility: hidden;
    position: absolute;
  }
}
